In [1]:
#元组
tupe1=(1,1.2,3,'cuc')
list1=[1,1.2,3,'cuc']
print(tupe1)
print(list1)

(1, 1.2, 3, 'cuc')
[1, 1.2, 3, 'cuc']

In [2]:
#列表排序
mylist=[1,3,4,5,2,8]
print(sorted(mylist))
##列表从小到大排序

[1, 2, 3, 4, 5, 8]

In [5]:
score_list=[100,95,46,78,99,76]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[100, 95, 46, 78, 99, 76]
78
[100, 95, 46, 78, 99, 76, 50]

In [23]:
dict1 = {'Peter':80 ,'David':90}
print(dict1)
print(dict1.keys())
print(dict1.values())

{'Peter': 80, 'David': 90}
dict_keys(['Peter', 'David'])
dict_values([80, 90])

In [6]:
second_list=[12,65,34]
second_list.append([1,'qwei love you','hahaha'])
score_list.append(second_list)

[100, 95, 46, 78, 99, 76, 50]

In [12]:
test1={'peter':50,'cinder':100,'mary':80,'cherry':95}
assignment={'peter':70,'cinder':100,'mary':90,'cherry':97}
score_list=[]
score_list.append(test1)
score_list.append(assignment)
print(score_list)

[{'peter': 50, 'cinder': 100, 'mary': 80, 'cherry': 95}, {'peter': 70, 'cinder': 100, 'mary': 90, 'cherry': 97}]

In [20]:
#range 循环的使用
hrs_list=[30,0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John','Mike','Mary','Jane']
fee_list=[]
for number in range (len(name_list)):
    hrs=hrs_list[number]
    rate = rate_list[number]
    fee = hrs * rate
    fee_list.append(fee)
    money_made = name_list[number] + " makes " + str(fee) + "."
    print(money_made)

John makes 1950.0.
Mike makes 0.0.
Mary makes 2600.0.
Jane makes 3750.0.

In [18]:
#range 循环的使用
my_list=['red','green','blue','orange','black']
index=0
for i in my_list:
    if i=='blue':
        print(index,'Blue is printed.')
        index+=1
    else:
        print(index,my_list[index])
        index+=1
print('This is done')

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done

In [16]:
#PANdas 库的使用

import pandas as pd
df1 = pd.DataFrame({
    'Product ID':[1,2,3,4],
    'Product Name':['t-shirt','bluose','Coat','Jeans'],
    'color':['blue','red','green','pink'],
    'UnitsSold':[250,300,180,200] ,
})

print(df1)

   Product ID Product Name  color  UnitsSold
0           1      t-shirt   blue        250
1           2       bluose    red        300
2           3         Coat  green        180
3           4        Jeans   pink        200